@import 'scss/bootstrap';
@import 'variables';

* {
	font-family: $worksans;
	font-weight: 400;
}
// common styles
.b-bordered-text {
	padding-inline: 15px;
	border-radius: 15px;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='black' stroke-width='4' stroke-dasharray='7%2c 9' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
	@include media-breakpoint-down('md') {
		border-radius: 6px;
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='black' stroke-width='3' stroke-dasharray='7%2c 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	}
}
h1,
h2,
h3,
h4,
h5,
h5 {
	margin: 0;
	padding: 0;
}

.b-section-header {
	font-family: $bebas;
	font-size: 3rem;
	line-height: 63px;
	margin-bottom: 20px;
	@include media-breakpoint-down('md') {
		font-size: 2.5rem;
	}
	@include media-breakpoint-down('sm') {
		font-size: 2rem;
		margin-block: 5px;
	}
}

.b-section {
	padding: 100px 0;
	@include media-breakpoint-down('sm') {
		padding: 50px 0;
	}
}

.b-accordion-flush {
	.accordion-item {
		position: relative;
		h2 {
			&.accordion-header {
				border-bottom: none !important;
			}
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			border-bottom: 1px solid $gray-color !important;
		}
		&:last-child {
			&:after {
				border-bottom: none !important;
			}
		}
	}
	.b-accordion-button {
		font-size: 1.1rem;
		font-weight: $semibold;
		padding: 0.5rem 0.8rem;
		@include media-breakpoint-down('md') {
			font-size: 1rem;
		}
	}
	.accordion-button {
		padding-inline: 0;
		color: $theme-black;
		&:after {
			width: 25px;
			height: 25px;
			background-size: 25px;
			background-image: url('../images/expand-icon.svg');
			@include media-breakpoint-down('lg') {
				width: 30px;
				height: 30px;
				background-size: 30px;
			}
			@include media-breakpoint-down('md') {
				width: 20px;
				height: 20px;
				background-size: 20px;
			}
		}
		&:not(.collapsed) {
			&:after {
				background-image: url('../images/collapse-icon.svg');
			}
		}
	}
	.b-accordion-body {
		font-size: 1rem;
		font-weight: $regular;
		line-height: 1.2rem;
		padding-inline: 0;
		padding-block: 0.5rem;
		@include media-breakpoint-down('md') {
			font-size: 0.9rem;
			line-height: 1.1rem;
			padding-block: 0.5rem;
		}
	}
}

.b-fill-btn-hover {
	transition: 0.3s;
	&:hover {
		background: $theme-black;
		color: white;
		border: none;
	}
}

.b-footer {
	text-align: center;
	background-color: $theme-black;
	color: $white;
	padding-block: 10px;
	font-size: 15px;
	@include media-breakpoint-down('sm') {
		font-size: 12px;
	}
}

// navbar styles
.b-header {
	position: sticky;
	top: 0;
	z-index: 999;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-color: $white;
	nav {
		padding-top: 10px;
		padding-bottom: 10px;
		justify-content: space-between;

		.b-navbar-brand {
			font-family: $bebas;
			font-size: 2rem;
			font-weight: $regular;

			img {
				@include media-breakpoint-down('sm') {
					width: 130px !important;
				}
			}

			@include media-breakpoint-down('md') {
				font-size: 1.5rem;
			}
			@include media-breakpoint-down('sm') {
				font-size: 1rem;
			}
		}
		.b-nav-item {
			position: relative;
			@include media-breakpoint-up('lg') {
				margin-right: 30px;
			}
			.nav-link {
				color: $theme-black !important;
				font-size: 1rem;
				font-weight: $medium;
				transition: 0.3s;
				padding: 0;
			}
			&.active,
			&:hover {
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 8px;
					height: 8px;
					background-color: $theme-yellow;
					border-radius: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					@include media-breakpoint-down('lg') {
						display: none;
					}
				}
			}
		}
		.b-header-right {
			display: flex;
			justify-content: center;
			align-items: center;
			.b-contact-btn {
				border-radius: 30px;
				border-color: $theme-yellow;
				font-size: $navbar-menu-items;
				font-weight: $medium;
				padding-inline: 25px;
				padding-block: 10px;
				@include media-breakpoint-down('sm') {
					font-size: 16px;
					padding-inline: 15px;
					padding-block: 7px;
				}
			}
			button {
				border: none;
				&:focus {
					outline: none;
					box-shadow: none;
					border: none;
				}
				.icon-bar {
					width: 27px;
					display: block;
					height: 2px;
					background-color: $black;
					-webkit-transition: all 0.2s;
					transition: all 0.2s;
					& + .icon-bar {
						margin-top: 4px;
					}
					&:nth-of-type(1) {
						-webkit-transform: rotate(0);
						-ms-transform: rotate(0);
						transform: rotate(0);
					}
					&:nth-of-type(2) {
						opacity: 1;
						filter: alpha(opacity=100);
					}
					&:nth-of-type(3) {
						-webkit-transform: rotate(0);
						-ms-transform: rotate(0);
						transform: rotate(0);
					}
				}
			}
		}
		.offcanvas {
			background: $theme-yellow-gradient;
			&.b-offcanvas-menu {
				width: 100%;
				.offcanvas-header {
					justify-content: end;
				}
				.offcanvas-body {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
				li {
					a {
						font-size: 1.5rem;
						font-weight: $semibold;
						text-align: center;
					}
				}

				.b-contact-btn {
					margin-top: 30px;
					font-size: 1rem;
					border-radius: 60px;
					background-color: $white;
					padding: 1rem 2rem;
					font-weight: $semibold;
				}
			}
		}
	}
}

// Banner section styles
.b-banner-section {
	font-family: $bebas;
	text-align: center;
	padding: 50px 0;
	.b-bubble-background {
		position: absolute;
		top: 190px;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 183px;
		img {
			position: absolute;
			opacity: 0;
			animation: fade-in-out 3s ease-in-out infinite;
			// light red dot
			&:first-child {
				width: 24px !important;
				height: 24px !important;
				animation-delay: 5s;
				left: 9%;
				bottom: 16%;
				@include media-breakpoint-down('sm') {
					left: 0;
				}
			}
			// blue dot
			&:nth-child(2) {
				width: 40px !important;
				height: 40px !important;
				animation-delay: 4s;
				top: 0;
				left: 20%;
				@include media-breakpoint-down('md') {
					width: 20px !important;
					height: 20px !important;
					left: 6%;
				}
			}
			// pink dot
			&:nth-child(3) {
				width: 21px !important;
				height: 21px !important;
				animation-delay: 3s;
				right: 10%;
				bottom: 10%;
				@include media-breakpoint-down('md') {
					right: 5%;
					bottom: 23%;
				}
				@include media-breakpoint-down('sm') {
					right: 0;
				}
			}
			// purple dot
			&:nth-child(4) {
				width: 34px !important;
				height: 34px !important;
				animation-delay: 2s;
				right: 5%;
				bottom: -18%;
				@include media-breakpoint-down('md') {
					width: 23px !important;
					height: 23px !important;
					bottom: -9%;
				}
			}
			// red dot
			&:nth-child(5) {
				width: 64px !important;
				height: 64px !important;
				right: 10%;
				animation-delay: 5s;
				@include media-breakpoint-down('xl') {
					right: 5%;
				}
				@include media-breakpoint-down('md') {
					width: 32px !important;
					height: 32px !important;
				}
			}
			// green big dot
			&:nth-child(6) {
				width: 74px !important;
				height: 74px !important;
				animation-delay: 2s;
				left: 0;
				top: 30%;
				@include media-breakpoint-down('md') {
					width: 30px !important;
					height: 30px !important;
				}
			}
			// green smaller dot
			&:last-child {
				width: 35px !important;
				height: 35px !important;
				animation-delay: 4s;
				bottom: -39px;
				left: 17%;
				@include media-breakpoint-down('md') {
					width: 25px !important;
					height: 25px !important;
					bottom: 0%;
				}
				@include media-breakpoint-down('sm') {
					left: 2%;
					bottom: -16%;
				}
			}
		}
	}
	.b-banner-heading {
		text-transform: uppercase;
		h1 {
			font-family: $bebas;
			font-size: 3.5rem;
			font-weight: $regular;
			line-height: 5rem;
			text-align: center;
			@include media-breakpoint-down('lg') {
				font-size: 2.5rem;
				line-height: 4rem;
			}
			@include media-breakpoint-down('md') {
				font-size: 2rem;
				line-height: 3rem;
			}
			&.b-tagline {
				span {
					font-family: $bebas;
					font-weight: $regular;
					&:first-child {
						@include media-breakpoint-down('md') {
							display: block;
						}
					}
					&.b-bordered-text {
						position: relative;
						&:after {
							position: absolute;
							content: '';
							background-image: url('../images//paper-plane.svg');
							background-size: cover;
							width: 68px;
							height: 68px;
							top: -45px;
							right: -30px;
							@include media-breakpoint-down('lg') {
								width: 52px;
								height: 52px;
								top: -35px;
								right: -22px;
							}
							@include media-breakpoint-down('md') {
								width: 42px;
								height: 42px;
							}
							@include media-breakpoint-down('sm') {
								width: 32px;
								height: 32px;
								top: -20px;
								right: -10px;
							}
						}
						color: $theme-yellow;
						margin-inline: 10px;
						border-color: $theme-black;
					}
				}
			}
		}

		.b-paper-plane-image {
			position: absolute;
			top: -40px;
			right: -30px;
			@include media-breakpoint-down('md') {
				width: 40px !important;
				height: 40px !important;
				top: -30px;
				right: -20px;
			}
		}
	}
	// TODO: Fix banner image
	.b-banner-image-section {
		margin-top: 5rem;
		position: relative;
		.b-banner-images {
			display: flex;
			justify-content: center;
			img {
				width: 100%;
				height: 660px;
			}
			@include media-breakpoint-down('md') {
				display: none;
			}
			.b-banner-group {
				height: 100%;
				.b-banner-image {
					max-height: 80% !important;
					max-width: 100% !important;
					width: 100% !important;
					@include media-breakpoint-down('xl') {
						height: 190px !important;
					}
					@include media-breakpoint-down('lg') {
						height: 200px !important;
						width: auto !important;
					}
					@include media-breakpoint-down('md') {
						height: 150px !important;
					}
				}
				.b-callout-container {
					.b-callout {
						position: relative;
						img {
							width: 100% !important;
							max-width: 100% !important;
							@include media-breakpoint-down('lg') {
								width: auto !important;
							}
						}
						.b-callout-title {
							position: absolute;
							top: 40%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-weight: $semibold;
							@include media-breakpoint-down('lg') {
								font-size: 0.8rem;
							}
							@include media-breakpoint-down('md') {
								font-size: 0.6rem;
								top: 44%;
							}
						}
					}
				}
				&:nth-child(2n + 2) {
					.b-callout {
						img {
							transform: scaleX(-1);
						}
					}
				}
			}
		}
		.b-banner-static-image {
			display: none;
			@include media-breakpoint-down('md') {
				display: block;
				margin-top: 15%;
				img {
					max-width: 100% !important;
					height: auto !important;
				}
			}
		}
	}
	.b-image-caption {
		p {
			text-align: center;
			font-size: 1.3rem;
			font-weight: $regular;
			color: $theme-black;

			@include media-breakpoint-down('md') {
				font-size: 1rem;
			}
		}
	}
}

// social-proof section styles
.b-social-proof-section {
	background: $theme-yellow-gradient;
	overflow: auto;
	.b-flex-container {
		@include media-breakpoint-up('sm') {
			padding: 50px 0;
		}
	}
	.b-proof-section-header {
		h2,
		span {
			color: $white;
			text-align: center;
		}
		span {
			color: $black;
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='white' stroke-width='4' stroke-dasharray='7%2c 9' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
			@include media-breakpoint-down('md') {
				border-radius: 6px;
				background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='white' stroke-width='3' stroke-dasharray='7%2c 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
			}
		}
	}
	.b-section-description {
		h3,
		p {
			color: $black;
			font-size: 1.4rem;
			font-weight: $regular;
			text-align: center;
			@include media-breakpoint-down('md') {
				font-size: 1.2rem;
			}
			@include media-breakpoint-down('sm') {
				font-size: 1rem;
			}
		}
		h3 {
			font-weight: $medium;
			margin-bottom: 20px;
			@include media-breakpoint-down('md') {
				margin-bottom: 10px;
			}
		}
	}
	.b-section-chart {
		width: 100%;
		margin-bottom: 20px;
		img {
			width: 100% !important;
			height: 100% !important;
			background-color: $white;
		}
		canvas {
			background-color: white;
			border-radius: 8px;
		}
	}
	.b-section-caption {
		color: $black;
		font-size: 0.8rem;
		float: right;
		@include media-breakpoint-down('sm') {
			font-size: 0.6rem;
		}
	}
}

// how we do it section styles
.b-how-we-do-it {
	background-color: $theme-grey;
	.b-bordered-text {
		color: $theme-yellow;
		border-color: $black;
	}
	.b-section-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		@include media-breakpoint-down('md') {
			flex-direction: column;
			align-items: stretch;
		}
		.b-section-image {
			width: 100%;
			flex: 1;
			align-self: center;
			display: flex;
			justify-content: center;
			img {
				width: 420px !important;
				height: 312px !important;
				@include media-breakpoint-down('lg') {
					width: 300px !important;
					height: auto !important;
				}
				@include media-breakpoint-down('md') {
					width: 100% !important;
					height: auto !important;
				}
			}
		}
		.b-section-text {
			flex: 1;
			@include media-breakpoint-down('md') {
				margin-top: 20px;
			}
			.accordion-flush {
				* {
					background-color: $theme-grey;
				}
				button {
					&:focus {
						outline: none;
						border: none;
						box-shadow: none;
					}
				}
			}
		}
	}
}

// what will you get section styles
.b-what-will-you-get {
	.b-bordered-text {
		color: $theme-yellow;
		border-color: $black;
	}
	.b-section-content {
		display: flex;
		width: 100%;
		align-items: center;
		&:nth-child(odd) {
			flex-direction: row-reverse;
			@include media-breakpoint-down('md') {
				flex-direction: column;
			}
		}
		&:nth-child(even) {
			@include media-breakpoint-down('md') {
				flex-direction: column;
			}
		}
		& + :nth-child(n + 2) {
			@include media-breakpoint-down('sm') {
				margin-top: 1.5rem;
			}
		}
		.b-section-image {
			flex: 1;
			display: flex;
			justify-content: center;
			img {
				width: 400px !important;
				height: 325px !important;
				@include media-breakpoint-down('md') {
					width: 100% !important;
					height: auto !important;
				}
			}
		}
		.b-section-text {
			flex: 1;
			.b-header-text {
				h3 {
					font-size: 1.5rem;
					font-weight: $semibold;
					color: $theme-yellow;
					@include media-breakpoint-down('md') {
						font-size: 1.3rem;
						text-align: center;
						margin-top: 25px;
					}
					@include media-breakpoint-down('sm') {
						margin-top: 15px;
					}
				}
			}
			.b-description {
				p {
					font-size: 1.2rem;
					line-height: 1.5rem;
					color: $theme-black;
					@include media-breakpoint-down('md') {
						font-size: 0.95rem;
						line-height: 1.1rem;
						text-align: center;
					}
				}
			}
		}
	}
}

// call to action section styles
.b-call-to-action {
	background: $theme-yellow-gradient;
	padding: 5rem 0;
	@include media-breakpoint-down('sm') {
		padding: 2.5rem 0;
	}
	h4 {
		color: $black;
		text-align: center;
		font-size: 1.5rem;
		font-weight: $semibold;
		@include media-breakpoint-down('md') {
			font-size: 1.3rem;
			line-height: 31px;
		}
	}
	button {
		margin-top: 2rem;
		padding-inline: 30px;
		padding-block: 10px;
		background-color: $white;
		color: $black;
		border-radius: 30px;
		border: none;
		font-size: 18px;
		font-weight: $medium;
		@include media-breakpoint-down('md') {
			margin-top: 1.4rem;
			font-size: 16px;
		}
		@include media-breakpoint-down('sm') {
			margin-top: 0.8rem;
		}
	}
}

@keyframes fade-in-out {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
