/* declaring the css variables colors */

// colors
$black: #000000;
$white: #ffffff;
// font
$worksans: 'Work Sans';
$bebas: 'Bebas';
$theme-grey: #F6F6F6;
$theme-color: #02ed5e;
$secondary-color: #0b76e0;
$theme-yellow: #ffcc15;
$theme-black: #1a1a1a;
$theme-green: #008878;
$theme-blue: #48398e;
$gray-color: #c9c9c9;
$theme-yellow-gradient: linear-gradient(180deg, #f6cd39 0%, #ffb800 100%);

// breakpoints
@mixin breakpoint-430 {
	@media (max-width: 430px) {
		@content;
	}
}

// [data-theme="light"] .b-tech-thumb:not(.no-border) {
//   border: 2px solid var(--color-background-base-00019);
// }

// font-sizes
$navbar-heading: 40px;
$navbar-menu-items: 18px;

// font-weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
